{% extends 'main.html.twig' %}
{% block content %}
  <div class="col-lg-8 mx-auto p-3 py-lg-3">
    {% include 'header.html.twig' %}
    <main>
      <h1>Main content</h1>
      <p class="lead">
        This is a lead paragraph. It stands out from regular paragraphs.
      </p>
    </main>
    {% include 'footer.html.twig' %}
  </div>
{% endblock %}
