<!doctype html>
<html lang="ru">
<head>
  {% include 'part/head.html.twig' %}
</head>
<body>
  {% block content %}{% endblock content %}
  <script src={{ "/assets/js/vendor.min.js?#{date().timestamp}" | raw }}></script>
  <script src={{ "/assets/js/main.min.js?#{date().timestamp}" | raw }}></script>
</body>
</html>
