<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         cacheResultFile="var/cache/test-results"
         executionOrder="random"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         convertDeprecationsToExceptions="true"
         failOnRisky="true"
         failOnWarning="true"
         verbose="true">
    <testsuites>
        <testsuite name="default">
            <directory>src/Configuration/Test</directory>
            <directory>src/Twig/Test</directory>
            <directory>src/Monolog/Test</directory>
            <directory>src/Slim/Test</directory>
            <directory>src/Http/Test</directory>
            <directory>src/Authentication/Test</directory>
            <directory>tests</directory>
        </testsuite>
        <testsuite name="functional">
            <directory>tests</directory>
        </testsuite>
        <testsuite name="components">
            <directory>tests/Components</directory>
        </testsuite>
        <testsuite name="configuration">
            <directory>src/Configuration/Test</directory>
        </testsuite>
        <testsuite name="twig">
            <directory>src/Twig/Test</directory>
        </testsuite>
        <testsuite name="monolog">
            <directory>src/Monolog/Test</directory>
        </testsuite>
        <testsuite name="slim">
            <directory>src/Slim/Test</directory>
        </testsuite>
        <testsuite name="http">
            <directory>src/Http/Test</directory>
        </testsuite>
        <testsuite name="authentication">
            <directory>src/Authentication/Test</directory>
        </testsuite>
    </testsuites>
</phpunit>
