{% extends 'main.html.twig' %}
{% block pageTitle %}
  <title>Grid</title>
{% endblock pageTitle %}
{% block content %}

  <h2>Точки останова</h2>
  <ul>
    <li>X 0-576</li>
    <li>sm 576-768</li>
    <li>md 768-992</li>
    <li>lg 992-1200</li>
    <li>xl 1200-1400</li>
    <li>xll 1400-...</li>
  </ul>

  <h2>Контейнеры</h2>
  <small>Ограничивают размер сетки и выравнивают ее по центру</small>
  <div class="container" style="border: 1px solid black">
    Контейнер который меняет ширину в каждой точке останова, максимальный размер 1320
  </div>

  <div class="container-sm">В данном случае совпадает с просто контейнером Расширяемся с sm</div>

  <div class="container-md bg-info">Расширяемся с md</div>
  <div class="container-lg bg-secondary">Расширяемся с lg</div>
  <div class="container-xl bg-warning">Расширяемся с xl</div>
  <div class="container-xxl bg-light">Расширяемся с xll</div>

  <div class="container-fluid" style="border: 1px solid black">Вся ширина области просмотра всегда</div>

  <h2>Ряд</h2>
  <small>Группирует в себе колонки</small>

  <div class="container">
      <div class="row">
      </div>
  </div>

  <h2>Колонки сетки</h2>
  <div class="container">
    <h3>Симметричные колонки</h3>
    <div class="row">
      <div class="col">
        <div class="my-col"> Колонка 1</div>
      </div>
      <div class="col">
        <div class="my-col"> Колонка 2</div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col">
        <div class="my-col"> Колонка</div>
      </div>
      <div class="col">
        <div class="my-col"> Колонка</div>
      </div>
      <div class="col">
        <div class="my-col"> Колонка</div>
      </div>
      <div class="col">
        <div class="my-col"> Колонка</div>
      </div>
      <div class="col">
        <div class="my-col"> Колонка</div>
      </div>
      <div class="col">
        <div class="my-col"> Колонка</div>
      </div>
      <div class="col">
        <div class="my-col"> Колонка</div>
      </div>
      <div class="col">
        <div class="my-col"> Колонка</div>
      </div>
      <div class="col">
        <div class="my-col"> Колонка</div>
      </div>
      <div class="col">
        <div class="my-col"> Колонка</div>
      </div>
      <div class="col">
        <div class="my-col"> Колонка</div>
      </div>
      <div class="col">
        <div class="my-col"> Колонка</div>
      </div>
    </div>
    <hr>
  <h3>Ширина одного столбца</h3>
    <div class="row">
      <div class="col-1">
        <div class="my-col"> col-1</div>
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        <div class="my-col"> col-2</div>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <div class="my-col"> col-3</div>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <div class="my-col"> col-4</div>
      </div>
    </div>
    <div class="row">
      <div class="col-5">
        <div class="my-col"> col-5</div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="my-col"> col-6</div>
      </div>
    </div>
    <div class="row">
      <div class="col-7">
        <div class="my-col"> col-7</div>
      </div>
    </div>
    <div class="row">
      <div class="col-8">
        <div class="my-col"> col-8</div>
      </div>
    </div>
    <div class="row">
      <div class="col-9">
        <div class="my-col"> col-9</div>
      </div>
    </div>
    <div class="row">
      <div class="col-10">
        <div class="my-col"> col-10</div>
      </div>
    </div>
    <div class="row">
      <div class="col-11">
        <div class="my-col"> col-11</div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="my-col"> col-12</div>
      </div>
    </div>
    <h3>Пример сайта</h3>
    <div class="row">
      <div class="col-3"><div class="my-col"> col-3</div></div>
      <div class="col-9"><div class="my-col"> col-9</div></div>
    </div>
    <div class="row">
      <div class="col-6"><div class="my-col"> col-6</div></div>
      <div class="col-6"><div class="my-col"> col-6</div></div>
    </div>
    <div class="row">
      <div class="col-2"><div class="my-col"> col-2</div></div>
      <div class="col-2"><div class="my-col"> col-2</div></div>
      <div class="col-2"><div class="my-col"> col-2</div></div>
      <div class="col-2"><div class="my-col"> col-2</div></div>
      <div class="col-2"><div class="my-col"> col-2</div></div>
      <div class="col-2"><div class="my-col"> col-2</div></div>
    </div>
    <div class="row">
      <div class="col-4"><div class="my-col"> col-4</div></div>
      <div class="col-4"><div class="my-col"> col-4</div></div>
      <div class="col-4"><div class="my-col"> col-4</div></div>
    </div>
  </div>
  <hr>

  <h3>Адаптивные классы</h3>

  Desktop first (max-width)

  Mobile first (min-width)

  Классы
  <ul>
    <li>.col-</li>
    <li>.col-sm-</li>
    <li>.col-md-</li>
    <li>.col-lg-</li>
    <li>.col-xl-</li>
    <li>.col-xxl-</li>
  </ul>

  <div class="container">
    <div class="row">
      <div class="col-md"><div class="my-col">колонка</div></div>
      <div class="col-md"><div class="my-col">колонка</div></div>
    </div>
  </div>

{% endblock %}
