{% extends 'main.html.twig' %}
{% block pageTitle %}
  <title>Bootstrap главная</title>
{% endblock pageTitle %}

{% block content %}
<ul>
  <li><a href="/bootstrap/grid">Grid</a></li>
</ul>
{% endblock %}
