.login {
  height: 100vh;
  overflow-x: hidden;
}

.login-left {
  padding: 5rem 8rem;
}

.login-logo {
  margin-bottom: 7rem;
}

.login-title {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.login-right {
  background: url(../images/login.svg);
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
