/*body {
  line-height: 1.25;
  font-family: 'Montserrat', sans-serif;
  -ms-overflow-style: scrollbar;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --title-color: var(--color-default);
  --text-color: var(--color-default);
  color: var(--text-color);
}*/
