$variable-prefix: starter-;
$font-family-base: "Montserrat";

$theme-colors-light: (
  'primary': #ebf3ff,
  'secondary': #E6EAEE,
  'success': #D2FFE8 ,
  'danger': #FFDEDE,
  'warning': #fffdd8,
  'info': #e6fdff,
);
$alert-colors: (
  primary: (
    text-color: #fff,
    background-color: #435ebe
  ),
  secondary: (
    text-color: #383d41,
    background-color: #ebeef3
  ),
  success: (
    text-color: #fff,
    background-color: #4fbe87
  ),
  warning: (
    text-color: #fff,
    background-color: #eaca4a,
  ),
  danger: (
    text-color: #fff,
    background-color: #f3616d,
  ),
  dark: (
    text-color: #fff,
    background-color: #454546,
  ),
  light: (
    text-color: #818182,
    background-color: #f9f9f9,
  ),
  info: (
    text-color: #fff,
    background-color: #56b6f7,
  ),
);

//#435ebe
$theme-colors: (
  "primary":    #435ebe
)
